<div class="container-fluid">
    <div class="row-fluid">
        <div class="pod centering">
            <p>A message from the chickens of Vegan Oasis:</p>
            <h1 ng-show="!data.chickens_put_away" class="message">Close the coop, please!</h1>

            <h1 ng-show="data.chickens_put_away" class="message">We're just chillin' in the coop.</h1>
            <p class="sig">Love, <br/>Foxie and Feather</p>

            <hr/>

            <div class="status">
                <p>Latest Data Received on {{ data.last_updated }}</p>
                <p>Sunrise is at: {{ data.sunrise }}</p>
                <p>Sunset is at: {{ data.sunset }}</p>
            </div>
        </div>
    </div>
</div>